.projects {
    margin: 12px auto;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px;
}

.projects-title h1 {
    text-decoration: underline darkgoldenrod;
    font-weight: bold;
    font-size: 45px;
    color: white;
}

.projects-items {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.projects-items h1 {
    font-weight: bold;
    color: white;
    font-size: 22px;
}

